<!DOCTYPE html>
<html>
<head>
<style>

h1{
  text-align: center;
}
/* p{
  text-align: center;
  text-decoration: none;
  color: navy;
  text-indent: 30px;
  text-transform: uppercase;
} */

</style>
</head>
<body>
  
<form  action="/send" method="POST">

    <h1 >Association Rules</h1>
    <br><br> <br>
    <div class="dropdown">
      <label for="products">Enter the product name:</label>
      <input type="text" id="product" name="product"><br><br>
   <br>
    <input class="btn btn-primary" type="submit" value="Show Consequent Products">
</form>
<br><br>

{%for x in cons%}
    <p>{{x|safe}}</p>
{%endfor%}
</body>
</html>